a,
button,
input {
    &:hover,
    &:focus,
    &:active {
        border:none;
        box-shadow: none;
        outline: none;
        text-decoration: none !important;
    }
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    background-image: url('../img/bg.jpg');
    background-color: rgba(0,0,0,.3) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    font-size: $font-size;
    font-family: $font-family;
}
