$main-color: #0c342e;
$rgba-main-color: rgba(12, 52, 46, .7);
$secondary-color: #bbb;
$font-size: 14px;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
